@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(240, 6%, 50%);
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));   
}


.main-container {
    position: relative;
    background-color: white;
    width: 375px;
    margin: 160px auto 20px auto;
    padding: 30px 0px;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.3);
}



.icon-wrapper{
    position: absolute;
    top: -110px;
    left: 65px;
}

.icon{
    content: url('/images/illustration-woman-online-mobile.svg');
}

.icon-shadow{
    content: url('/images/bg-pattern-mobile.svg');
    position: relative;
    top: -65px;
}

.faq-wrapper>h1 {
    margin-top: 90px;
    text-align: center;
    color: hsl(238, 29%, 16%);
}

.accordion-wrapper{
    margin: 15px;
}

/* btn */
.accordion{
    background-color: transparent;
    border: none;
    margin: 15px 0px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(237, 12%, 33%);
}

.accordion:after {
    content: "expand_more";
    font-family: 'Material Icons';
    color: hsl(14, 88%, 65%);
    font-size: 20px;
    float: right;
}

.accordion-content{
    padding: 15px 0px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}