@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(240, 6%, 50%);
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%)) fixed;   
}


.main-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 375px;
    margin: 160px auto 20px auto;
    padding: 30px 0px;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.3);
}

.icon-wrapper{
    position: relative;
    width: 85%;
    top: -150px; 
}

.icon-pattern{
    content: url('');
}

.icon-box{
    content: url('');
}

.icon{
    content: url('/images/illustration-woman-online-mobile.svg');
    position: absolute;
    left: 55px;
    z-index: 1;
}

.icon-shadow{
    content: url('/images/bg-pattern-mobile.svg');
    position: absolute;
    top: 130px;
    left: 55px;
}

.faq-wrapper>h1 {
    margin-top: 100px;
    text-align: center;
    color: hsl(238, 29%, 16%);
}

.accordion-wrapper{
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.accordion-q{
    background-color: transparent;
    border: none;
    margin: 15px 0px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(237, 12%, 33%);
}

.accordion-q:after {
    content: "expand_more";
    font-family: 'Material Icons';
    color: hsl(14, 88%, 65%);
    font-size: 20px;
    float: right;
    transition: 0.4s ease-in; 
}

.accordion-q:hover{
    color: hsl(14, 88%, 65%);
}

.accordion-item {
    border-bottom: 1px solid hsl(240, 5%, 91%); 
}

.accordion-wrapper .accordion-item.active .accordion-q::after {
  transform: rotate(180deg);
  transition: 0.4s ease-in; 
}

.accordion-content{
    height: 0px;
    color: white;
    overflow: hidden;
    transition: 0.7s;
}

.accordion-wrapper .accordion-item.active .accordion-content {
  height: auto;
  color: hsl(240, 6%, 50%);
  margin: 15px 0px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color:hsl(228, 44%, 15%);
}
.attribution a { 
    color: hsl(228, 34%, 26%); 
}

@media only screen and (min-width: 950px) and (max-width: 1440px){
    .main-container{
        flex-direction: row;
        width: 850px; 
        padding: 0px;      
    }

    .faq-wrapper{
        padding: 0px 50px;
        margin-bottom: 60px; 
    }

    .faq-wrapper>h1{
        text-align: left;
        margin-left: 15px;
    }

    .icon-wrapper{
        top: 0px; 
        width: 1000px;
    }

    .overflow-content{
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    .icon{    
        content: url('images/illustration-woman-online-desktop.svg');
        left: -82px;
        top: 50px;
        width: 450px;
    }

    .icon-shadow{
        content: url('/images/bg-pattern-desktop.svg');
        position: absolute;
        left: -600px;
        top: -320px;
       
        /* border: 1px solid black; */
    }
    .icon-box{
        content: url('/images/illustration-box-desktop.svg');
        position: absolute;
        z-index: 1;
        top: 170px;
        left: -90px;
    }

    .icon-pattern{
        content: url('');
        top: 300px;
        left: -140px;
       
    }
}